/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

h3 {
  text-align: right !important;
}

h4 {
  text-align: center !important;
}


/* Header making changes here */
header {
  text-align: center;
    padding: 10px ; /* Adjust the padding for the header */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px; /* Set a maximum width for the header content */
  margin: 0 auto; /* Center the header content horizontally */
}


/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}


/* Paragraphs */
p {
  line-height: 1.5;
  margin-bottom: 0; 
}

/*----------------- NAV Links Here ----------> */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
  display: inline;
}

nav a {
  padding-left: 20px;
  display: inline;
     
}
/*---------------- UL / li Here ----------> */

ul {
   padding: 20px; /* Remove default padding */
   margin: 30px; /* Remove default margin */
   text-align: right; /* Set the text alignment to the left */
   list-style-position: inside;
   margin-top: 0;
     
}

ul li {
  direction: ltr; /* Reverse the order of list items and bullets */
  text-align:left; /* Set the text alignment to the left */
  
}

/* ---------------Images-------------------->*/
img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display:flex;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  align-items: right;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
/* more changes this below helps the portfolio section */ 

.project-container {
  display: flex;
  gap: 20px; /* Adjust the spacing between projects as needed */
  flex-wrap: nowrap; /* stop projects from wrapping to the next  */
  overflow-x: auto; /* Enable horizontal scrolling if the content overflows */
}

.project-container section {
  min-width: 300px; /* Set a minimum width for each project section */
  border: 1px solid #ccc; /* Add a border for separation (optional) */
  padding: 10px;
}

.project-container p {
  font-size: 14px; /* font sixe per instructions  */
}

.about-content {
  display: flex;
  align-items: center;
}
